.code_snippet_create_new {
  border-radius: 12px;
  background-color: #0E6EAF;
  width: fit-content;
  padding: 10px;
  color: #C9CADF;
  margin-top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.code_container_code_snippets_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

  .code_snippet_container {
    // border: 2px solid red;
    width: 400px;
    margin-right: 20px;
    padding-bottom: 20px;
    background-color: #282c34;
    color: #C9CADF;
    border-radius: 12px;
    margin-bottom: 20px;

    .code_snippet_title_container {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid #0E6EAF;
      position: relative;


      .code_snippet_language_icon {
        float: left;
        position: absolute;
        left: 0;
        padding-left: 10px;
        border-radius: 12px;
      }

      .code_snippet_title {
        border-radius: 12px;
        background-color: #0E6EAF;
        width: fit-content;
        padding: 10px;
      }
    }

    .login_here_button {
      margin-top: 20px;
      border: 2px solid #C9CADF;
      // background-color: #DE039F;
      // background-color: #062659;
      background-color: #0E6EAF;
      height: 40px;
      width: 140px;
      border-radius: 8px;
      font-size: large;
      cursor: pointer;

      &:hover {
        // background-color: #101221;
        // background-color: #0E6EAF;
        background-color: #062659;
        color: #C9CADF;
        border: 2px solid #0E6EAF;
      }
    }

    .code_snippet_button_container {
      border-top: 2px solid #0E6EAF;
      position: relative;

      // .code_snippet_language_icon {
      //   float: right;
      //   position: absolute;
      //   bottom: 0;
      // }
    }
  }
}
