@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
  }
}

.testing {
  @include background('../Assets/Images/signup-background.jpg');
}

.main {
  height: 100vh;
  font-family: initial;
  // background: url('../Assets/Images/signup-background.jpg') no-repeat center center fixed;
  // background: url('../Assets/Images/dark_background.jpg') no-repeat center center fixed;
  background: url('../Assets/Images/ai_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // color: #B7AB9A; // creme
  color: #C9CADF; // white
  // color: #DE039F; // PINK
  // COLOR: #101221; // DARK GRANITE

  .main_container {
    flex-direction: column;
    display: flex;
    // display: grid;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    float: left;
    width: 50%;
    position: relative;
    background-color: #001f39;
    color: #C9CADF;

    .main_container_form {
      display: flex;
      justify-content: center;
      align-items: center;

      .login_signup_input {
        background-color: #C9CADF;
        width: 400px;
        height: 60px;
        color: #101221;
        font-size: large;
        margin-bottom: 2px;
        outline: 0;
        border-width: 0 0 2px;
        border-color: #1BB4F4;
      }

      .form_button {
        margin-top: 20px;
        border: 2px solid #C9CADF;
        background-color: #0E6EAF;
        height: 40px;
        width: 140px;
        border-radius: 8px;
        font-size: large;
        cursor: pointer;

        &:hover {
          background-color: #062659;
          color: #C9CADF;
          border: 2px solid #0E6EAF;
        }
      }

      .switch_type_section {
        .login_here_button {

          background: none !important;
          border: none;
          padding: 0 !important;
          color: #C9CADF;
          text-decoration: underline;
          cursor: pointer;
          font-size: medium
        }
      }
    }
  }
}
